[submodule "Other-Github-Repos/TouchDesignerGrimoire"]
	path = Other-Github-Repos/TouchDesignerGrimoire
	url = https://github.com/superColson/TouchDesignerGrimoire.git
[submodule "Other-Github-Repos/TouchDesigner_Shared"]
	path = Other-Github-Repos/TouchDesigner_Shared
	url = https://github.com/DBraun/TouchDesigner_Shared.git
[submodule "Other-Github-Repos/touchdesigner-playground"]
	path = Other-Github-Repos/touchdesigner-playground
	url = https://github.com/riebschlager/touchdesigner-playground.git
[submodule "Other-Github-Repos/TD-GLSL-Playground"]
	path = Other-Github-Repos/TD-GLSL-Playground
	url = https://github.com/TsaiChengHung/TD-GLSL-Playground.git
[submodule "Other-Github-Repos/GenerativeDesign"]
	path = Other-Github-Repos/GenerativeDesign
	url = https://github.com/TouchDesigner/GenerativeDesign.git